#app {
  /* ./src/index.css */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #9e4049;
  margin-top: 60px;
}

#logo {
  margin: auto;
}

#app h1 {
  font-family: fangsong;
  font-weight: bold;
}

.card-header {
  font-family: cursive;
}

#get-data {
  border: aquamarine 3px dashed;
}

#get-data:active {
  border: blueviolet 3px dashed;
}

#get-data:hover {
  border: rgb(73, 32, 222) 3px dashed;
}